*
!config/config.yaml
!config/samples.tsv
!config/units.tsv
!LICENSE
!README.md
resources
resources/*
results
results/*
!workflow
!workflow/*
!workflow/**
workflow/scripts/.snakemake*
!.gitignore
!.editorconfig
!.gitattributes
!.test
!.test/data
