samples: config/samples.tsv
units: config/units.tsv

resources:
  ref:
    # ensembl species name
    species: homo_sapiens
    # ensembl release version
    release: "104"
    # genome build
    build: GRCh38
    # pfam release to use for annotation of domains in differential splicing analysis
    pfam: "33.0"
    representative_transcripts: canonical
  ontology:
    # gene ontology to download, used e.g. in goatools
    gene_ontology: "http://current.geneontology.org/ontology/go-basic.obo"

pca:
  labels:
    # columns of sample sheet to use for PCA
    - condition

scatter:
  # for use as diagnostic plots
  # all samples are compared in pairs to assess their correlation
  # scatter plots are only created if parameter 'activate' is set to 'true'
  activate: true

diffexp:
  # samples to exclude (e.g. outliers due to technical problems)
  exclude:
  # model for sleuth differential expression analysis
  models:
    model_X:
      full: ~condition + batch_effect
      reduced: ~batch_effect
      # Binary valued covariate that shall be used for fold change/effect size
      # based downstream analyses.
      primary_variable: condition
      base_level: untreated
  # significance level to use for volcano, ma- and qq-plots
  sig-level:
    volcano-plot: 0.05
    ma-plot: 0.05
    qq-plot: 0.05

diffsplice:
  activate: true
  # codingCutoff parameter of isoformSwitchAnalyzer, see
  # https://rdrr.io/bioc/IsoformSwitchAnalyzeR/man/analyzeCPAT.html
  coding_cutoff: 0.725
  # Should be set to true when using de-novo assembled transcripts.
  remove_noncoding_orfs: false
  # False discovery rate to control for.
  fdr: 1.0
  # Minimum size of differential isoform usage effect
  # (see dIFcutoff, https://rdrr.io/github/kvittingseerup/IsoformSwitchAnalyzeR/man/IsoformSwitchTestDEXSeq.html)
  min_effect_size: 0.0

enrichment:
  goatools:
    # tool is only run if set to `true`
    activate: true
    fdr_genes: 0.05
    fdr_go_terms: 0.05
  fgsea:
    gene_sets_file: "ngs-test-data/ref/dummy.gmt"
    # tool is only run if set to `true`
    activate: true
    # if activated, you need to provide a GMT file with gene sets of interest
    fdr_gene_set: 0.05
    eps: 0.0001
  spia:
    # tool is only run if set to `true`
    activate: true
    # pathway database to use in SPIA, needs to be available for
    # the species specified by resources -> ref -> species above
    pathway_database: "panther"

bootstrap_plots:
  # desired false discovery rate for bootstrap plots, i.e. a lower FDR will result in fewer boxplots generated
  FDR: 0.01
  # maximum number of bootstrap plots to generate, i.e. top n discoveries to plot
  top_n: 3
  color_by: condition
  # for now, this will plot the sleuth-normalised kallisto count estimations with kallisto
  # for all the transcripts of the respective genes
  genes_of_interest:
    - A4galt

plot_vars:
  # significance level used for plot_vars() plots
  sig_level: 0.1

params:
  kallisto: "-b 100"
  # these cutadapt parameters need to contain the required flag(s) for
  # the type of adapter(s) to trim, i.e.:
  # * https://cutadapt.readthedocs.io/en/stable/guide.html#adapter-types
  #   * `-a` for 3' adapter in the forward reads
  #   * `-g` for 5' adapter in the forward reads
  #   * `-b` for adapters anywhere in the forward reads
  # also, separate capitalised letter flags are required for adapters in
  # the reverse reads of paired end sequencing:
  # * https://cutadapt.readthedocs.io/en/stable/guide.html#trimming-paired-end-reads
  cutadapt-se:
    adapters: "-a AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC"
    extra: "-q 20"
  # reasoning behind parameters:
  #   * `--minimum-length 33`:
  #     * kallisto needs non-empty reads in current versions (fixed for future releases:
  #       https://github.com/pachterlab/kallisto/commit/64fe837ca86f3664496483bcd2787c9376584fed)
  #     * kallisto default k-mer length is 31 and 33 should give at least 3 k-mers for a read
  #   * `-e 0.005`: the default cutadapt maximum error rate of `0.2` is far too high, for Illumina
  #     data the error rate is more in the range of `0.005` and setting it accordingly should avoid
  #     false positive adapter matches
  #   * `--minimum-overlap 7`: the cutadapt default minimum overlap of `5` did trimming on the level
  #     of expected adapter matches by chance
  cutadapt-pe: 
    adapters: "-a ACGGATCGATCGATCGATCGAT -g GGATCGATCGATCGATCGAT -A ACGGATCGATCGATCGATCGAT -G GGATCGATCGATCGATCGAT"
    extra: "--minimum-length 33 -e 0.005 --overlap 7"
