name: Tests

on: 
  - push
  - pull_request

jobs:
  run-workflow:
    runs-on: ubuntu-latest
    steps:
    - name: Cleanup Docker container
      run: docker system prune --force
    - name: Checkout repository
      uses: actions/checkout@v1
    - name: Checkout submodules
      uses: textbook/git-checkout-submodule-action@2.0.0
    - name: Test workflow
      uses: snakemake/snakemake-github-action@v1.5.3
      with:
        directory: .test
        snakefile: workflow/Snakefile
        args: "--use-conda --show-failed-logs --cores 2 --conda-cleanup-pkgs"
    - name: Test report
      uses: snakemake/snakemake-github-action@v1.5.3
      with:
        directory: .test
        snakefile: workflow/Snakefile
        args: "--report report.zip"
